In [36]:
import numpy as np
import pandas as pd

In [37]:
papers_df = pd.read_json('Papers_Metadata_6K.json')
users_df = pd.read_json('users.json')
ratings_df = pd.read_json('User_Ratings.json')

In [38]:
papers_df.head()

,author,day,id,link,month,summary,tag,title,year
0,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,1802.00209v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
1,"[{'name': 'Ji Young Lee'}, {'name': 'Franck De...",12,1603.03827v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",3,Recent approaches based on artificial neural n...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Sequential Short-Text Classification with Recu...,2016
2,"[{'name': 'Iulian Vlad Serban'}, {'name': 'Tim...",2,1606.00776v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",6,We introduce the multiresolution recurrent neu...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Multiresolution Recurrent Neural Networks: An ...,2016
3,"[{'name': 'Sebastian Ruder'}, {'name': 'Joachi...",23,1705.08142v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",5,Multi-task learning is motivated by the observ...,"[{'term': 'stat.ML', 'scheme': 'http://arxiv.o...",Learning what to share between loosely related...,2017
4,"[{'name': 'Iulian V. Serban'}, {'name': 'Chinn...",7,1709.02349v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",9,We present MILABOT: a deep reinforcement learn...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",A Deep Reinforcement Learning Chatbot,2017

In [39]:
users_df.head()

   userID     Location   Age
0       1          nyc  NULL
1       2     stockton    18
2       3       moscow  NULL
3       4        porto    17
4       5  farnborough  NULL

In [40]:
merge_df = pd.merge(ratings_df, users_df, on='userID')

In [41]:
merge_df = pd.merge(merge_df, papers_df, on='id')

In [42]:
merge_df.head()

,userID,id,paperRating,Location,Age,author,day,link,month,summary,tag,title,year
0,112,1802.00209v1,6,mexico city,32,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
1,21,1802.00209v1,8,ferrol / spain,46,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
2,21,1802.00209v1,9,ferrol / spain,46,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
3,21,1802.00209v1,10,ferrol / spain,46,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
4,21,1802.00209v1,6,ferrol / spain,46,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018

In [43]:
merge_df.drop_duplicates(subset=['userID','id'],inplace=True)

In [44]:
merge_df.head()

,userID,id,paperRating,Location,Age,author,day,link,month,summary,tag,title,year
0,112,1802.00209v1,6,mexico city,32,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
1,21,1802.00209v1,8,ferrol / spain,46,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
5,92,1802.00209v1,4,castellar del valles,20,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
7,52,1802.00209v1,6,braunschweig,NULL,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
8,74,1802.00209v1,2,amsterdam,30,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018

In [45]:
from sklearn.preprocessing import OneHotEncoder
encode = OneHotEncoder(sparse=True)
item_features=encode.fit_transform(merge_df[['paperRating','id']])

In [46]:
print(item_features)

  (0, 5)	1.0
  (0, 980)	1.0
  (1, 7)	1.0
  (1, 980)	1.0
  (2, 3)	1.0
  (2, 980)	1.0
  (3, 5)	1.0
  (3, 980)	1.0
  (4, 1)	1.0
  (4, 980)	1.0
  (5, 0)	1.0
  (5, 980)	1.0
  (6, 4)	1.0
  (6, 980)	1.0
  (7, 4)	1.0
  (7, 980)	1.0
  (8, 0)	1.0
  (8, 980)	1.0
  (9, 8)	1.0
  (9, 980)	1.0
  (10, 3)	1.0
  (10, 980)	1.0
  (11, 8)	1.0
  (11, 980)	1.0
  (12, 6)	1.0
  :	:
  (1774, 279)	1.0
  (1775, 9)	1.0
  (1775, 166)	1.0
  (1776, 3)	1.0
  (1776, 114)	1.0
  (1777, 1)	1.0
  (1777, 380)	1.0
  (1778, 6)	1.0
  (1778, 107)	1.0
  (1779, 5)	1.0
  (1779, 506)	1.0
  (1780, 7)	1.0
  (1780, 118)	1.0
  (1781, 1)	1.0
  (1781, 604)	1.0
  (1782, 8)	1.0
  (1782, 63)	1.0
  (1783, 9)	1.0
  (1783, 597)	1.0
  (1784, 0)	1.0
  (1784, 273)	1.0
  (1785, 2)	1.0
  (1785, 340)	1.0
  (1786, 2)	1.0
  (1786, 32)	1.0

In [47]:
from lightfm.data import Dataset
paper_dataset=Dataset()
paper_dataset.fit(merge_df.userID.values,merge_df.id.values,item_features = merge_df['paperRating'].values)
# fit ratings, paper id and paper features to the model

In [48]:
item_sub = merge_df[['id', 'summary']]
item_tuples = [tuple(x) for x in item_sub.values]

user_sub = merge_df[['userID', 'id', 'paperRating']]
user_tuples = [tuple(x) for x in user_sub.values]

In [49]:
(interactions, weights) = paper_dataset.build_interactions(user_tuples)
interactions

<200x999 sparse matrix of type '<class 'numpy.int32'>'
	with 1787 stored elements in COOrdinate format>

In [50]:
from lightfm.cross_validation import random_train_test_split
train, test = random_train_test_split(interactions, test_percentage=0.2, random_state=np.random.RandomState(seed=111))

In [51]:
from lightfm import LightFM
# Define a new model instance
model = LightFM(loss='warp',
                no_components=20)

# Fit the hybrid model, remember to pass in item features.
model = model.fit(train,item_features=item_features,epochs=10,num_threads=4)

In [52]:
from lightfm.evaluation import auc_score
# Don't forget the pass in the item features again!
train_auc = auc_score(model,train,item_features=item_features).mean()
print('Hybrid training set AUC: %s' % train_auc)

Hybrid training set AUC: 0.9491391

In [53]:
test_auc = auc_score(model,test,train_interactions=train,item_features=item_features).mean()
print('Hybrid test set AUC: %s' % test_auc)

Hybrid test set AUC: 0.79087394

In [54]:
#retriving the mappings of paper id
item_ids = list(paper_dataset.mapping()[0].values())

In [55]:
#make predictions, noted the user_ids is not the mapped userid, need to transform back to the original userid
pred = model.predict(user_ids=100,item_ids=list(paper_dataset.mapping()[2].values()))
l=list(zip(list(paper_dataset.mapping()[2].keys()),list(pred)))

In [56]:
pred_df = pd.DataFrame(l,columns = ['paper_id','recommendation_scores'])
pred_df = pred_df.sort_values("recommendation_scores",ascending=False)
pred_df.head()

         paper_id  recommendation_scores
980  1512.04860v1               1.674839
713  1707.03017v5               1.667101
623  1506.02078v2               1.191600
161   1401.5899v3               0.678005
998   1202.4050v2               0.599846

In [57]:
recommend_df = pd.DataFrame(columns=merge_df.columns)

In [58]:
for x in range(0,5):
    recommend_df = recommend_df.append(merge_df.loc[merge_df.id == pred_df.iloc[x]['paper_id']])

In [59]:
recommend_df = recommend_df.drop(['Location', 'Age', 'author', 'day',
                   'link', 'month', 'summary', 'tag',
                   'paperRating', 'year','userID'], axis=1)

In [62]:
recommend_df.rename(columns={'id':'paper_id'},inplace=True)

In [63]:
recommend_df

          paper_id                                              title
1980  1512.04860v1  Increasing the Action Gap: New Operators for R...
1713  1707.03017v5    Learning Visual Reasoning Without Strong Priors
1618  1506.02078v2   Visualizing and Understanding Recurrent Networks
1004   1401.5899v3  Kernel Least Mean Square with Adaptive Kernel ...
1998   1202.4050v2  On the Sample Complexity of Predictive Sparse ...