In [6]:
import numpy as np
import pandas as pd

In [7]:
papers_df = pd.read_json('Papers_Metadata_6K.json')

papers_df.head()

,author,day,id,link,month,summary,tag,title,year
0,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,1802.00209v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
1,"[{'name': 'Ji Young Lee'}, {'name': 'Franck De...",12,1603.03827v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",3,Recent approaches based on artificial neural n...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Sequential Short-Text Classification with Recu...,2016
2,"[{'name': 'Iulian Vlad Serban'}, {'name': 'Tim...",2,1606.00776v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",6,We introduce the multiresolution recurrent neu...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Multiresolution Recurrent Neural Networks: An ...,2016
3,"[{'name': 'Sebastian Ruder'}, {'name': 'Joachi...",23,1705.08142v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",5,Multi-task learning is motivated by the observ...,"[{'term': 'stat.ML', 'scheme': 'http://arxiv.o...",Learning what to share between loosely related...,2017
4,"[{'name': 'Iulian V. Serban'}, {'name': 'Chinn...",7,1709.02349v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",9,We present MILABOT: a deep reinforcement learn...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",A Deep Reinforcement Learning Chatbot,2017

In [8]:
users_df =pd.read_json("users.json")
users_df.head()

   User-ID     Location   Age
0        1          nyc  NULL
1        2     stockton    18
2        3       moscow  NULL
3        4        porto    17
4        5  farnborough  NULL

In [9]:
ratings_df =pd.read_json("ratings.json")
ratings_df.head()

   userID       paperID  paperRating
0     112  1802.00209v1            6
1      21  1603.03827v1            9
2      12  1606.00776v2            6
3      92  1705.08142v2            2
4      52  1709.02349v2            7

In [10]:
combine_book_rating = pd.merge(ratings_df, papers_df, on='id')
columns = ['author', 'day']
combine_book_rating = combine_book_rating.drop(columns, axis=1)
combine_book_rating.head()

KeyError: 'id'